<!-- about.ejs, Balkesa Azimi-301296835  Date: Sunday, June 4, 2023-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href = "css/about.css" rel = "stylesheet" type = "text/css" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   

    <title>Portfolio | Balkesa </title>
</head>
<body oncontextmenu="return false">

<!-- pre loader -->
<!-- <div class="loader-container">
  <img draggable="false" src="./assets/images/preloader.gif" alt="">
</div> -->

<!-- navbar starts -->
<header>
        <a href="/" class="logo"><i class="fab fa-node-js"></i> Balkesa</a>

        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
            <li><a class="index" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            
            </ul>
        </nav>
</header>
<!-- navbar ends -->
<section class="about" id="about">
    <div id="particles-js"></div>

    <div class="content">
    <h2>About Me<br/> 
    <p> My name is Balkesa, and I am currently a software engineering student in my third semester at Centennial College. I have a strong passion for technology and programming, and I am dedicated to expanding my knowledge and skills in the field of software development. With each semester, I strive to improve and grow as a student and aspiring software engineer. I am determined to achieve greatness in my chosen profession by actively seeking opportunities to learn, taking on challenging projects, and staying updated with the latest industry trends and advancements. I believe that through hard work, continuous learning, and a relentless pursuit of excellence, I can make a significant impact in the world of software engineering.<span class="typing-text"></span></p>
    
    </a>
   </div>
   
   
   <a href="/Resume.pdf"><button>Resume</button></a>
</section>


    <footer>
        <%- include('partials/footer.ejs') %>      
    </footer>


</body>

</html>



    

   