<!-- index.ejs, Balkesa Azimi-301296835  Date: Sunday, June 4, 2023-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
   
    <title>Portfolio | Balkesa</title>
    <style>
        .image-container {
            float: right;
            margin-right: -650px;
            margin-top: -90px;
        }

        .image-container img {
            width: 600px;
            height: auto;
        }
    </style>
</head>
<body oncontextmenu="return false">

<!-- pre loader -->
<!-- <div class="loader-container">
  <img draggable="false" src="./assets/images/preloader.gif" alt="">
</div> -->

<!-- navbar starts -->
<header>
        <a href="/" class="logo"><i class="fab fa-node-js"></i> Balkesa</a>

        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a class="index" href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
</header>
<!-- navbar ends -->

<!-- hero section starts -->
<section class="home" id="home">
    <div id="particles-js"></div>

    <div class="content">
        <div class="image-container">
            <img src="images/image8000.png" alt="Description of the image">
        </div>

        <h2>Hi There,<br/> I'm Balkesa <span>Azimi</span></h2>
        <p>Student at Centennial College <span class="typing-text"></span></p>
        <br>
    
        <a href="/about"><button>Learn More</button></a>
    </div>
</section>
<!-- hero section ends -->
</body>
</html>
