<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom css file link  -->
    <link href = "css/projects.css" rel = "stylesheet" type = "text/css" />

</head>
<body>
    <header>
        <a href="/" class="logo"><i class="fab fa-node-js"></i> Balkesa</a>

        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a class="index" href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
</header>
<div class="container">

    <h1 class="heading"> My Projects</h1>

    <div class="box-container">

        <div class="box">
            <img src="images/12345.jpeg" alt="">
            <h3>Real Estate Website Development</h3>
            <p>I had the pleasure of designing a dynamic website for a real estate enthusiast, where I brought together property listings, customer reviews, a compelling mission statement, and a user-friendly contact form. The website serves as a platform for showcasing various properties, allowing visitors to explore and discover their dream homes. By incorporating authentic customer reviews, it provides valuable insights and builds trust with potential clients. The mission statement reflects the passion and dedication behind the website, while the contact form offers a seamless way for users to get in touch. Creating this website was a fulfilling endeavor, allowing me to combine my love for real estate and web development in a fun and engaging project.
                <br>
                <br>
                <br>
                <a href="https://github.com/asmaazimi/webdev1.git"><button>Learn More</button></a>


                
            </p>
            
        </div>

        <div class="box">
            <img src="images/123456.jpeg" alt="">
            <h3>A Fun and Addictive Web-based Game</h3>
            <p>In one of my recent projects, I created a captivating web-based game called the Ball Tapping Game. It offers a simple yet addictive gameplay experience where players must tap the ball on the screen to catch it before it falls off. With its vibrant visuals, smooth animations, and engaging mechanics, the Ball Tapping Game provides an enjoyable and challenging experience for users of all ages.</p>
            <br>
                <br><br>
                <br><br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            <a href="https://github.com/asmaazimi/webdev3.git"><button>Learn More</button></a>
        </div>

        <div class="box">
            <img src="images/1234567.png" alt="">
            <h3>Dynamic Table Generator</h3>
            <p>I developed a dynamic table generator as part of my web development project, allowing users to create tables of any size by specifying the desired number of rows and columns. This user-friendly web application simplifies the process of table creation, saving time and effort. With its intuitive interface and flexible table manipulation options, users can easily customize and adapt the tables to their specific needs. Additionally, the ability to copy or export the generated tables enhances their versatility and integration into various projects. Overall, this project demonstrates my skills in web development and showcases my ability to create interactive and efficient tools for data representation and organization.</p>
            <br>
                <br><br>
                <br><br>
            <a href="https://github.com/asmaazimi/webdev2.git"><button>Learn More</button></a>
        </div>

        

    </div>

</div>

</body>
</html>