<!-- services.ejs, Balkesa Azimi-301296835  Date: Sunday, June 4, 2023-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom css file link  -->
    <link href = "css/services.css" rel = "stylesheet" type = "text/css" />

</head>
<body>
    <header>
        <a href="/" class="logo"><i class="fab fa-node-js"></i> Balkesa</a>

        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a class="index" href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
</header>
<div class="container">

    <h1 class="heading"> My Services</h1>

    <div class="box-container">

        <div class="box">
            <img src="images/1223.webp" alt="">
            <h3>HTML</h3>
            <p>I have a strong understanding of HTML and can structure web pages with semantic markup and accessibility in mind.</p>
            
        </div>

        <div class="box">
            <img src="images/133.webp" alt="">
            <h3>CSS</h3>
            <p>Proficient in CSS, I can create visually appealing designs, apply styling and layout techniques, and ensure cross-browser compatibility for web pages.</p>
   
        </div>

        <div class="box">
            <img src="images/1334.png" alt="">
            <h3>JavaScript</h3>
            <p>I have a good understanding of JavaScript and can build dynamic and interactive web applications.</p>
        
        </div>

        <div class="box">
            <img src="images/1556.png" alt="">
            <h3>SQL</h3>
            <p>Proficient in SQL, I can effectively manage and query databases to retrieve and manipulate data.</p>
           
        </div>

        <div class="box">
            <img src="images/1776.jpeg" alt="">
            <h3>PYTHON</h3>
            <p>Skilled in Python, I can develop efficient scripts, build web applications, and handle data processing tasks.</p>
            
        </div>

        <div class="box">
            <img src="images/1445.webp" alt="">
            <h3>UNIX/LINUX</h3>
            <p>Experienced in Unix/Linux environments, I am proficient in command-line operations and system administration tasks.</p>
            
        </div>
        <div class="box">
            <img src="images/1667.png" alt="">
            <h3>C#</h3>
            <p>I possess solid knowledge of C# and can develop robust and scalable software solutions using the .NET framework.</p>

    </div>

</div>

</body>
</html>