/*style.css, Balkesa Azimi-301296835  Date: Sunday, June 4, 2023-->*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: black;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}

.loader-container.fade-out {
  top: -220%;
}
/* pre loader end */

/* navbar starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: rgb(21, 20, 20);
  box-shadow: 0 1px 4px rgba(16, 16, 16, 0.3);
}
section {
  min-height: 100vh;
  padding: 2rem 9%;
}


header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: white;
}
header .logo i {
  font-size: 2.2rem;
}

header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: white;
  border-bottom: 0.2rem solid white;
  padding: 0.5rem 0;
}
/* navbar ends */

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: white;
  display: none;
}
@media (max-width: 768px) {
  #menu {
    display: block;
  
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  
}
/* hamburger icon ends */

/* hero section starts*/
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 120vh;
  align-items: center;
}

.home .content h2 {
  font-size: 8rem;
  font-weight: 800;
  color: white;
}
.home .content h2 span {
  font-size: 8rem;
  font-weight: 800;
  color: white;
}
.home .content p {
  font-size: 3.5rem;
  color: white;
  font-weight: 600;
  padding: 1rem 0;
}
button {
    padding: 10px 20px;
    background-color: #7226b0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #7226b0;
  }
  
  button:focus {
    outline: none;
  }
  
  /* Centering the button */
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
 